<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="BAT_Yoti">
         <sequence>
             <module name="Magento_Customer"/>
             <module name="Mageplaza_CustomerApproval"/>
             <module name="BAT_CustomerApprovalExtend"/>
             <module name="BAT_AgeVerification" />
             <module name="BAT_NewsletterExtend" />
             <module name="BAT_FETools" />
        </sequence>
    </module>
</config>
